.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 769px) {
  .filterCollapse {
    display: none;
  }
}

.btnGroup {
  width: 100%;
}

.checkboxGroup {
  padding: 0;
  gap: 13px;
}

.checkboxGroupBody {
  padding: 0;
}
