.logoWrap {
  display: flex;
  gap: 34px;
  align-items: center;
}

.logo {
  width: 100px;
}

.title {
  color: var(--colors-purple, #4e148c);
  font-size: 24px;
  font-weight: 700;
}

@media screen and (max-width: 430px) {
  .logo {
    width: 68px;
  }
}

@media screen and (min-width: 430px) and (max-width: 768px) {
  .logo {
    width: 57px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    display: none;
  }
}
